.card {
    background:greenyellow;
    background-size: cover;
    height: 103px;
    width: 90px;
    border-radius: 10px;
    margin: 16px 16px -19px 10px;
    border: 8px solid white;
    text-align: center;
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
:hover.card{
    animation-duration: 2s;
    animation-duration: 4s;
}
h1{
    font-size: 20px;
}
